@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


:root {
    --primary-color: #619eae;
    --background-color:#f2f2f2;
    --darktheme-color: #292929;
    // test
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--background-color);
    margin: 0;
    font-family: "Poppins";
    padding: 0;
    transition: 1s;
}

.label {
    position: absolute;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

// dark theme setup
body.dark {
    background-color: #292929;

    .navbar {
        background-color: #292929;

        .logo {
            color: #fff;
        }

        a {
            display: block;
            color: #fff;

            &:hover {
                transition: .5s;
                color: var(--primary-color);
                // color: var(--primary-color);
            }

            span {
                &:hover {
                    color: #fff;
                }
            }
        }
    }

    .hero {

        p {
            color: var(--background-color);
            transition: 1s;
        }
        
    }

    .source {

        img {
            filter: invert(100%);
            transition: 1s;
        }
    }
    
    .feature-section {
        background-color: var(--darktheme-color);
    }

    .contact-left {
        
        img {
            display: block;
            width: 2.5%;
            // margin-right: -1.5em;
            // margin-top: 2em;
        }

        h2 {
            color: #fff;
        }

        a {
            display: block;
            color: #fff;
        }

        .github-logo {
            filter: invert(100%);
        }
        
    }

}

.center {
    position: absolute;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

.box1 {
    position: absolute;
    width: 40px;
    height: 40px; 
    background: #292929;
    border-radius: 4px;
    transition: 1s;
}

.box2 {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #292929;
    transform: rotate(45deg);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

.circle {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    transition: 1s;
}

.shape {
    position: absolute;
    width: 22px;
    height: 30px;
    background-color: #292929;
    z-index: 1;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    left: 1px;
    bottom: 5px;
    transition: 1s;
}

.navbar {
    background: white;
    transition: 1s;
    padding: 1em;

    .logo {
        display: block;
        // padding: 1em;
        text-align: center;
        margin-right: 10em;
        text-decoration: none;
        transition: 1s;
        font-weight: bold;
        color: black;
        font-size: 1.2em;
        border-radius: 20px;

        &:hover {
            color: var(--primary-color);
            background-color: var(--primary-color);
            box-shadow: 0 0 10px var(--primary-color), 0 0 40px var(--primary-color), 0 0 80px var(--primary-color);
        }
        
        span {
            transition: 1s;
            color: var(--primary-color);

            &:hover {
                color: var(--darktheme-color);
            }
        }
    }

    nav {
        display: none;
    }

    .container {
        display: flex;
        place-content: space-between;
    }

    .mobile-menu {
        cursor: pointer;
    }
}

a {
    display: block;
    transition: 1s;
    color: #444444;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

section {
    padding: 5em 2em;
}

// hero section
.hero {

    top: 0;
    position: relative;

    img {
        filter: blur(1.5px);
        opacity: 90%;
        position: relative;
        width: 100%;
        height: 30em;
        object-fit: cover;
        top: auto;
        left: 0;
        right: 0;
    }

    h1 {
        color: #fff;
        position: absolute;
        text-align: center;
        font-size: 4em;
        top: 2.5em;
        left: 7%;
    }

}

.intro {
    font-size: 1.4em;
    margin-right: 10em;
    margin-left: 10em;
    margin-top: 2em;

    .example {
        text-align: center;
        margin-top: 3em;
        font-size: smaller;
    }

    img {
        border-radius: 1%;
        display: block;
        margin-right: auto;
        margin-left: auto;
        width: 85%;
    }

}

.source {

    position: relative;
    margin-bottom: 6em;

    img {
        position: relative;
        display: block;
        margin-top: 4em;
        margin-right: auto;
        margin-left: auto;
        width: 10em;
        object-fit: contain;
    }

    p {
        font-weight: bold;
        width: 100%;
        text-align: center;
    }

}

.left-col {

    .subhead {
        text-transform: uppercase;
        transition: 1s;
        font-weight: bold;
        color: gray;
        letter-spacing: 0.3em;
    }

    h1 {
        font-size: 2.5em;
        line-height: 1.3em;
        margin-top: 0.2em;
        transition: 1s;
    }

    .primary-cta {
        background: var(--primary-color);
        text-decoration: none;
        color: white;
        padding: .6em 1.3em;
        font-size: 1.4em;
        border-radius: 5em;
        font-weight: bold;
        display: inline-block;
    }

    .watch-video-cta {
        display: block;
        margin-top: 1em;

        img {
            transition: 1s;
            margin-right: .7em;
            margin-bottom: -.2em;
        }
    }
}

.hero-img {
    width: 70%;
    border-radius: 1000em; 
    border: 1px solid ;
    margin-top: 3em;
    transition: 1s;
}

section.feature-section {
    transition: .5s;
    background: #20272e;
    color: white;
}

div.feature-list {
    padding: 5em;

    h1 {
        display: block;
        font-size: 2em;
        font-weight: bold;
        // margin-top: -5em;
        margin-top: -1em;
        width: 100%;
        // margin-right: 10em;
        text-align: left;
    }

    p {
        font-size: 1.2em;
        width: 100%;
    }
}

.feature-section img {
    display: none;
}

.testimonials-section {
    background: var(--primary-color);
    color: white;

    li {
        background: #5ca8b3;
        text-align: center;
        padding: 2em 1em;
        width: 80%;
        margin: 0 auto 5em auto;
        border-radius: 1em;

        &:hover {
            img {
                transform: translateY(-1.5em);
            }
        }
    }

    a {
        // background: var(--primary-color);
        border: 2px solid white;
        border-radius: 30px;
        text-decoration: none;
        color: #fff;
        font-size: 2em;
        font-weight: bolder;   
        transition: .3s;
    
    }

    img {
        transition: .5s;
        width: 12em;
        height: 12em;
        border: 5px solid #5ca8b3;
        border-radius: 50%;
        // border: 1px solid #fff;
        margin-top: -4.5em;
        margin-bottom: 1em;

    }
}

h2 {
    font-size: 2em;
}

label {
    display: block;
    font-size: 1.2em;
    margin-bottom: .5em;
}

.contact-left {
    margin-left: 2em;

    img {
        display: block;
        width: 2.5%;
        // margin-right: -1.5em;
        // margin-top: 2em;
    }
    h2 {
        margin-bottom: 2em;
    }
    a {
        display: block;
        margin-left: 2em;
        margin-bottom: .5em;
        margin-top: -1.5em;
    }
}

input, textarea {
    width: 100%;
    padding: .8em;
    margin-bottom: 1em;
    border-radius: .3em;
    border: 1px solid gray;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: var(--primary-color);
    font-weight: bold;
    border-radius: 5em;
    border: none;
    margin-bottom: 5em;
    display: inline-block;
    width: unset;
    padding: .8em 2em;
    font-size: 1.3em;
    color: white;
    cursor: pointer;
}

iframe {
    margin-top: 3em;
    width: 100%;
    height: 300px;
}

nav.menu-btn {
    display: block;
}

nav {
    position: fixed;
    z-index: 999;
    width: 68%;
    right: 0;
    top: 0;
    background-color: #20272e;
    height: 100vh;
    padding: 1em;

    ul.primary-nav {
        margin-top: 5em;
        // column-gap: 10em;
    }

    li {
        display: block;
        // width: 8em;

        a {
            color: white;
            text-decoration: none;
            display: block;
            font-size: 1.3em;
            // border-radius: 10px;
            padding: .5em;
            text-align: right;

            &:hover {
                transition: .5s;
                color: var(--primary-color);
                // font-weight: bold;
                transform: translateY(-3px);
            }
        }
    }
}

.mobile-menu-exit {
    float: right;
    margin: .5em;
    cursor: pointer;
}
@media only screen and (min-width: 768px) {

    .mobile-menu, .mobile-menu-exit {
        display: none;
    }

    .navbar .container {
        display: grid;
        grid-template-columns: 180px auto;
    }

    .navbar nav {
        display: flex;
        justify-content: space-between;
        background: none;
        position: unset;
        height: auto;
        width: 100%;
        padding: 0;

        ul {
            display: flex;
        }

        a {
            color: black;
            padding: .1em 1em;
            font-size: 1em;
        }

        ul.primary-nav {
            margin: 0;
        }

        li.current a{
            font-weight: bold;
        }

        li.go-premium-cta a {
            color: var(--primary-color);
            border: 3px solid var(--primary-color);
            font-weight: bold;
            border-radius: 5em;
            margin-top: -.2em;

            &:hover {
                background: var(--primary-color);
                color: white;
            }
        }
    }

    .hero-img {
        width: 45%;
    }

}

@media only screen and (min-width: 1150px) {
    
    .container {
        width: 1080px;
        margin: 0 auto;
    }

    section {
        padding: 10em 4em;
    }

    .hero .container {
        display: flex;
        justify-content: space-between;
        text-align: left;
    }
    
    .left-col {
        margin: 3em 3em 0 5em;

        h1 {
            font-size: 3em;
            width: 90%;
        }
    }

    .hero-img {
        width: 35%; 
        margin-right: 8em;
        margin-top: 1.4em;
    }

    .hero-cta {
        display: flex;
    }

    .primary-cta {
        margin-right: 1em;
    }

    div.feature-list {
        display: block;
        margin-left: -5.3em;

        p {
            width: 70%;
        } 
        
    }

    .feature-section {
       position: relative; 
    }

    .feature-section img {
        display: block;
        position: absolute;
        right: 0;
        width: 350px;
        bottom: -2em;
    }

    .testimonials-section ul {
        display: flex;
        
        li {
            margin: 0 1em;
        }
    }

    .contact-section {
        position: relative;

        .container {
            display: flex;
        }
    }

    .contact-left {
        margin-left: 2em;
        img {
            display: block;
            width: 2.5%;
            // margin-right: -1.5em;
            // margin-top: 2em;
        }
        h2 {
            margin-bottom: 2em;
        }
        a {
            display: block;
            margin-left: 2em;
            margin-bottom: .5em;
            margin-top: -1.5em;
        }
    }

    .contact-right {
        position: absolute;
        right: 0;
        top: 0;
        width: 45%;
        height: 100%;

        iframe {
            height: 100%;
        }
    }
}


@media only screen and (min-width: 1450px) {

    .feature-section {

        &:before {
            content: "";
            position: absolute;
            width: 10%;
            height: 20em;
            background: var(--primary-color);
            left: 0;
            top: -4em;
        }

        &:after {
            content: "";
            position: absolute;
            width: 10%;
            height: 20em;
            background: url("images/dots.svg") no-repeat;
            left: 4.5em;
            top: 2em;
        }

        .feature-list {
            margin-left: .3em;
        }
    }
}